{% extends 'base.html' %}

{% block content %}


<br><br><br><br><br>

<div class="container">
    <table class="table table-dark mt-S">
        <tr>
            <th>Author</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{i.vendor}}</td>
            <td>{{i.name}}</td>
            <td>{{i.selling_price}}</td>
            <td>
                <a href="{% url 'proedit' i.id %}" class="btn btn-warning">EDIT</a>
            </td>
            <td>
                <a href="{% url 'destroy' i.id %}" class="btn btn-danger">DELETE</a>
            </td>
        </tr>
        {% endfor %}
    </table>

</div>

{% endblock content %}